.Img1 {

    width: 1300px;
    height: 800px;
    border-radius: 10%;
    text-align: center;
}

.Container_Img1 {
    text-align: center;
    padding: 20px;
    margin-top: -150px;
}

.Container_Img2 {
    text-align: center;
    padding: 20px;
}


.z-front{
    z-index: 10;
    position: relative;
}
